
body {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    min-height: 100vh;
    font-family: Arial, sans-serif;
    background-color: #E2F1E7;
}

header {
    position: fixed;
    top: 0;
    left: 0;
    width: 98%;
    height: 60px;
    background-color: #257180;
    color: white;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 0 20px;
    z-index: 100;
}

header nav ul {
    list-style: none;
    display: flex;
    padding: 0;
}

header nav ul li {
    margin: 0 15px;
    position: relative;
}

header a {
    color: #fff;
    text-decoration: none;
    font-weight: bold;
}

header a:hover {
    text-decoration: underline;
}

.notificacoes {
    position: absolute;
    top: 15px;
    right: 20px;
    display: flex;
    align-items: center;
    cursor: pointer;
}
.notificacoes::before{
    content: "🔔";
    font-size: 20px;
}

.badge {
    position: absolute;
    top: -5px;
    right: -5px;
    background-color: #FD8B51;
    color: white;
    border-radius: 50%;
    padding: 5px;
    font-size: 12px;
    line-height: 12px;
    text-align: center;
}

aside {
    position: fixed;
    top: 60px;
    left: 0;
    width: 150px;
    height: calc(100vh - 60px);
    background-color: #257180;
    color: white;
    padding: 20px;
    transition: width 0.3s;
}

aside ul {
    list-style: none;
    padding: 0;
}

aside ul li {
    margin: 20px 0;
    display: flex;
    align-items: center;
    position: relative;
}

.icone-menu::after {
    content: attr(data-tooltip);
    position: absolute;
    background-color: #333;
    color: white;
    padding: 5px;
    border-radius: 5px;
    top: -5px;
    left: 100%;
    white-space: nowrap;
    display: none;
}

li:hover .icone-menu::after {
    display: block;
}

@media (max-width: 768px) {
    aside {
        width: 60px;
    }

    aside ul li {
        justify-content: center;
    }

    main {
        margin-left: 70px;
    }
}
main {
    margin-left: 170px;
    margin-top: 60px;
    padding: 20px;
    transition: margin-left 0.3s;
}

.cards {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    gap: 20px;
}

.card {
    background-color: white;
    width: calc(25% - 20px);
    height: 150px;
    padding: 15px;
    margin-left: 20px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    border-radius: 8px;
    transition: transform 0.3s, background-color 0.3s;
    display: flex;
    justify-content: center;
    align-items: center;
    font-weight: bold;
    text-align: center;
}

.card:hover {
    transform: scale(1.05);
    background-color: #EB8317;
}


.atividades ul {
    list-style: none;
    margin-top: 20px;
    padding: 0;
}

.atividades ul li {
    display: flex;
    margin-left: 22px;
    align-items: center;
    margin-bottom: 10px;
}

.status {
    width: 12px;
    height: 12px;
    border-radius: 50%;
    margin-right: 10px;
}

.verde {
    background-color: green;
}

.amarelo {
    background-color: rgb(255, 196, 0);
}

.vermelho {
    background-color: red;
}

footer {
    position: fixed;
    bottom: 0;
    width: 100%;
    height: 40px;
    background-color: #243642;
    color: white;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 20px;
}

footer p {
    margin: 0;
}

footer nav ul {
    margin-right:20px;
    list-style: none;
    display: flex;
    padding: 0;
}

footer nav ul li {
    margin: 0 10px;
}

footer a {
    color: #fff;
    text-decoration: none;
}

footer a:hover {
    text-decoration: underline;
}
.card:hover {
    transform: scale(1.05);
    transition: transform 0.2s;
}
.icone-menu:hover::after {
    content: attr(data-tooltip);
    position: absolute;
    background-color: #243642;
    color: white;
    padding: 5px;
    border-radius: 5px;
    top: -5px;
    left: 100%;
}
